
@{
  ViewData["Title"] = "Home Page";
}



<div class="p-5 flex-grow-1 text-uppercase">
  <h1>SubWallet</h1>
  <hr>

  </hr>

  <h2>Not Just Any Wallet</h2>
  <hr>

  </hr>
  <h3>But The Place To Track Your Spending</h3>
  <hr>

  </hr>
</div>





